body {
  background: pink;
}

.card {
  height:200px;
  width: 200px;
  background: yellow;
  border: 2px solid black;
  margin: 20px;
  display: inline-block;
  border-radius: 5px;
}

button {
/*  display: inline-block;
*/}

button:hover {
  cursor: pointer;
}

.exit {
  margin: 5px 6px 0 0;
  border: 2px solid black;
  background: black;
  color: white;
  float: right;
  display: inline-block;
  border-radius: 2px;
}

.exit:hover {
  color: red;
  transition: .5s;
}

div {
  overflow: auto;
}
