body {
  background: pink;
}

.card {
  height:200px;
  width: 200px;
  background: yellow;
  border: 2px solid black;
  margin: 20px;
  display: inline-block;
  border-radius: 5px;
}

button {
/*  display: inline-block;
*/}

button:hover {
  cursor: pointer;
}
